.ipynb_checkpoints/main-checkpoint.ipynb
.ipynb_checkpoints/mf_main-checkpoint.ipynb
anaconda_projects/db/project_filebrowser.db
lib/.ipynb_checkpoints/visual-checkpoint.py
lib/.ipynb_checkpoints/visual2-checkpoint.py
lib/.ipynb_checkpoints/visual2-checkpoint.py
lib/__pycache__/visual2.cpython-313.pyc
