.ipynb_checkpoints/main-checkpoint.ipynb
.virtual_documents/main.ipynb
anaconda_projects/db/project_filebrowser.db
lib/__pycache__/data_loader.cpython-312.pyc
lib/__pycache__/data_wrangle.cpython-312.pyc
lib/__pycache__/data_loader.cpython-312.pyc
lib/__pycache__/data_wrangle.cpython-312.pyc
lib/.ipynb_checkpoints/visual-checkpoint.py
lib/.ipynb_checkpoints/data_wrangle-checkpoint.py
.ipynb_checkpoints/mf_main-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
data/processed/.ipynb_checkpoints/Final_dataset-checkpoint.csv
lib/__pycache__/data_loader.cpython-313.pyc
lib/__pycache__/data_wrangle.cpython-313.pyc
lib/visual.py
